:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
   --accent-color: #2196F3; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
}

img  {
    display: block;
}

.list{
    list-style: none;
}
.link {
    text-decoration: none;
}
body {
font-family: 'Roboto', sans-serif;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
/* ============== HEADER ============== */
.header-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 24px;
    margin-bottom: 25px;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.menu-item:not(:last-child){
    margin-right: 50px;

}

.logo {
    margin-right: 93px;
}
 
.logo-style {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #2196F3;
}

.logo-style-second {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: black;
}


.menu-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #212121;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}
.menu-link.current {
    color: #2196F3;
}

.contact-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
margin-right: 50px;
}

.contact-link:hover,
.contact-link:focus {
color: var(--accent-color);
}

/* ============== END HEADER ============== */

/* ============== HERO ============== */
.hero-section {
margin-bottom: 94px;
height: 600px;
align-items: center;
background: #2F303A;
}

.hero-title {
margin: 30px;
padding-top: 200px;
padding-bottom: 280px;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.modal-btn {
margin: 0 auto;
background: #2196F3;
border-radius: 4px;
color: #FFFFFF;
display: block;
border: none;
padding: 10px 30px;
cursor: pointer;
letter-spacing: 0.06em;
line-height: 1.8;
font-size: 16px;
font-weight: bold;
}
.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
    color: #FFFFFF;
}
/* ============== END HERO ============== */

/* ============== ADVANTAGES ============== */
.advantages {
    display: block;
}

.advantages-container {
    padding: 95px 15px;
}

.advantages-title {
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-align: left;
color: #212121;
}

.advantages-text {
font-size: 14px;
font-weight: 400;
line-height: 1.71;
letter-spacing: 0.03em;
text-align: left;
color: #757575;
}
/* ============== END ADVANTAGES ============== */

/* ============== ABOUT US ============== */
.about-us-title {
    display: flex;
    align-items: center;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}
/* ==============END ABOUT US ============== */

/* ============== OUR TEAM ============== */
.our-team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.our-team-nume {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.our-team-job {
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}
/* ============== END OUR TEAM ============== */

/* ============== FOOTER ============== */
.footer {
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;
background: #2F303A;
}

.footer-logo {
font-family: var(--secondary-font);
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.footer-logo-style {
color: #2196F3;
}

.footer-logo-style-second {
    color: white;
}

.footer-addres {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-addres-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-addres-link:hover,
.footer-addres-link:focus {
    color: white;
}
/* ============== END FOOTER ============== */

/* ============== PORTFOLIO ============== */
.button-nume {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.button-nume:hover,
.button-nume:focus{
    background: #2196F3;
    color: #FFFFFF;
}

.button-nume.current {
    background: #2196F3;
    color: #FFFFFF;
}

.project-nume {
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: #212121;
}

.project-specification {
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}

/* ============== END PORTFOLIO ============== */



